Projects/FraudTransactionReport/AzureDataFactory/pipeline/PL_CURATION.json
{
	"name": "PL_CURATION",
	"properties": {
		"activities": [
			{
				"name": "Master Data Curation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Start Logging for Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/Shared/Master Table Curation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Credit Transaction Curation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Start Logging for Transaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/Shared/Credit Transaction Curation",
					"baseParameters": {
						"load_date": {
							"value": "@pipeline().parameters.pLoadDate",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Start Logging for Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_START]",
					"storedProcedureParameters": {
						"vPipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vEntity": {
							"value": "MASTER CURATION",
							"type": "String"
						},
						"vStartTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Success Logging for Transaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Credit Transaction Curation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "SUCCEEDED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": {
								"value": "@activity('Credit Transaction Curation').output.runOutput",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"vEntity": {
							"value": "CUSTOMER MASTER INGESTION",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Failure Logging for Transaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Credit Transaction Curation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "FAILED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": "0",
							"type": "Int32"
						},
						"vEntity": {
							"value": "CUSTOMER MASTER INGESTION",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Success Logging for Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Data Curation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "SUCCEEDED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": {
								"value": "@activity('Master Data Curation').output.runOutput",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"vEntity": {
							"value": "MASTER CURATION",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Failure Logging for Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Master Data Curation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "FAILED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": "0",
							"type": "Int32"
						},
						"vEntity": {
							"value": "MASTER CURATION",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Start Logging for Transaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Success Logging for Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_START]",
					"storedProcedureParameters": {
						"vPipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vEntity": {
							"value": "CUSTOMER MASTER INGESTION",
							"type": "String"
						},
						"vStartTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pLoadDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}