Projects/FraudTransactionReport/AzureDataFactory/pipeline/PL_FRAUD_TRANSACTION_REPORT.json
{
	"name": "PL_FRAUD_TRANSACTION_REPORT",
	"properties": {
		"activities": [
			{
				"name": "Execute Master Data Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_MASTER_INGESTION",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Curation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Credit Transaction Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CURATION",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pLoadDate": {
							"value": "@variables('vLoadDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Credit Transaction Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Master Data Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CREDIT_TRANSACTION_INGESTION",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pLoadDate": {
							"value": "@variables('vLoadDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Load Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vLoadDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(), -1),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vLoadDate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}