Projects/FraudTransactionReport/pipeline/PL_CREDIT_TRANSACTION_INGESTION.json
{
	"name": "PL_CREDIT_TRANSACTION_INGESTION",
	"properties": {
		"activities": [
			{
				"name": "Set Load Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Start Logging for Transactions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vLoadDate",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(), -1),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Logging for Transactions",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_START]",
					"storedProcedureParameters": {
						"vPipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vEntity": {
							"value": "CREDIT TRANSACTION INGESTION",
							"type": "String"
						},
						"vStartTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy Credit Transaction",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('credit_transactions/',variables('vLoadDate'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "source",
							"pFolderPath": "credit_transactions",
							"pStorageAccountUrl": {
								"value": "@pipeline().globalParameters.gStorageAccountUrl",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PARQUET",
						"type": "DatasetReference",
						"parameters": {
							"pStorageAccountUrl": {
								"value": "@pipeline().globalParameters.gStorageAccountUrl",
								"type": "Expression"
							},
							"pContainerName": "landing",
							"pFolderPath": {
								"value": "@concat('credit_transactions/',variables('vLoadDate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Success Logging for Transactions",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Credit Transaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "SUCCEEDED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": {
								"value": "@int(activity('Copy Credit Transaction').output.rowsCopied)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"vEntity": {
							"value": "CREDIT TRANSACTION INGESTION"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Failure Logging for Transactions",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Credit Transaction",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOGGING].[SP_PIPELINE_RUN_LOG_END]",
					"storedProcedureParameters": {
						"vEndTime": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"vPipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"vPipelineStatus": {
							"value": "FAILED",
							"type": "String"
						},
						"vRecordsProcessed": {
							"value": "0",
							"type": "Int32"
						},
						"vEntity": {
							"value": "CREDIT TRANSACTION INGESTION",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference",
					"parameters": {
						"pSqlServerHost": {
							"value": "@pipeline().globalParameters.gSqlServerHost",
							"type": "Expression"
						},
						"pSqlDbName": {
							"value": "@pipeline().globalParameters.gSqlDbName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"vLoadDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-15T18:16:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}